* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
}
body.dark-mode {
  background: #000000;
}

.text {
  color: #000000;
}
.dark-mode {
  color: #ffffff !important;
}

.faded-1 {
  opacity: 0.5;
}
.faded-2 {
  opacity: 0.2;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}
#screen-2 {
  display: none;
}
#dash {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#speed-label {
  text-align: center;
  font-size: 150pt;
  line-height: 135pt;
  margin: 0;
}
#speed-unit {
  text-align: center;
  font-size: 37pt;
  margin: 0;
}
#gear-label {
  text-align: center;
  font-size: 16pt;
  margin: 6px 0 16px 0;
}
#power-bar {
  display: flex;
  background: #d3d3d3;
  height: 9px;
  width: 360px;
  margin: 0px 0 15px 0;
  .negative {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    #power-bar-negative {
      background: #29ff62;
      height: 100%;
    }
  }
  .positive {
    flex: 1;
    #power-bar-positive {
      background: #7c7c7c;
      height: 100%;
      width: 0;
    }
  } 
}
#power-label {
  margin: 0;
  font-size: 18pt;   
}
#eco-indicator {
  background: #38FF40;
  padding: 7px 15px;
  border-radius: 5px;
  margin: 0 0 5px 0;
  p {
    margin: 0;
    font-size: 20pt;
    font-weight: 600;
    color: #ffffff;
  }
}
#power-bar.dark-mode {
  background: #111111;
}

#info {
  margin-left: 70px;
  width: 300px;
  .info-title {
    font-size: 12pt;
    margin: 0;
    opacity: 0.7;
  }
  .info-value {
    margin: 0;
    font-size: 27pt;
    margin-bottom: 13px;
  }
}